.slide.one {
	background-color: #d64655;
}
.slide.two {
	background-color: #fff;
}
.slide.three {
	background-color: #d64655;
}
.slide.three img{
	display: block;
	width: 8vh;
}
.slide.four {
	background: url("../img/abstract-access-blur-257930.jpg");
	background-size: cover;
}
.slide.four .content {
	background-color: rgba(214,70,85,0.7); 
	padding: 1% 3% 3% 3%;
}
.slide.four img {
	display: block;
	width: 8vh;
}
.slide.five {
	background-color: #d64655;
}
.slide.six {
	background: url("../img/results.png");
	background-size: cover;
}
.slide.seven {
	background-color: #fff;
}
.slide.seven .content {
	background-color: rgba(214,70,85,1);
	padding: 1% 3% 3% 3%;
}
.slide.seven img {
	display: block;
	width: 8vh;
}
.slide.eight {
	background-color: #d64655;
}
a:visited,
a:link,
a:hover,
a:active {
	color: white;
	font-weight: bold;
}