html,
body {
	height: auto;
}
h1 {
	text-align: center;
}
p,
li {
	font-family: Lato, serif;
	font-size: 2.5vh;
	text-align: justify;
}
img {
	display: block;
	margin: 5% auto;
	width: 33%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}
.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.blue {
	background-color: #00a9e0;
	color: #fff;
}
.blue .content {
	padding: 5% 30%;
}
.white {
	background-color: #fff;
	color: gray;
}
.white .content {
	padding: 5% 30%;
}
#left {
	display: inline-block;
	margin: 5%;
}
#right {
	display: inline-block;
	margin: 5%;
}