body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.line {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 2px;
	background-color: black;
}
a:link {
	color: gray;
}
a:visited {
	color: gray;
}
a:hover {
	color: gray;
}
a:active {
	color: gray;
}
.textAnim {
	text-decoration: none;
	font-size: 12em;
	position: absolute;
	z-index: 10000;
	font-family: "Merriweather", serif;
}
#T {
	top: 25%;
	left: 23%;
}
#A1 {
	top: 25%;
	left: 38%;
}
#K {
	top: 25%;
	left: 53%;
}
#A2 {
	top: 25%;
	left: 68%;
}
.boxFadeIn {
	animation-name: boxFadeIn;
	-webkit-animation-name: boxFadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
@keyframes boxFadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
@-webkit-keyframes boxFadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}